<%#= form_with(model: [micropost , micropost.comments.build ]) do |f| %>
<!--  <div class = " form-control ">-->
    <%# if @parent.present? %>
      <%#= f.text_area :parent %>
  <%#end%>
    <%#= f.text_area :content %>
    <%#= f.submit " Send" , class: " btn btn-primary mt-1 " %>
<!--  </div>-->
<%# end %>